body {
  background: #FFCACA;
  margin: 0;
  font-family: Helvetica;
}

nav {
  font-weight: bold;
  font-size: 1.5em;
  background: #FF0030;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

a nav:hover {
  text-decoration: underline var(--hover) 3px
}

@media (hover: none) {
  a nav:active {
    text-decoration: underline var(--hover) 3px
  }
}

:root {
  --hover: #FF80B0;
}
