body {
  margin: 0;
  font-family: Helvetica;
}

nav {
  font-weight: bold;
  font-size: 1.5em;
  background: #555;
  height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

nav * {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
}

#first {
  margin-left: 15px;
}

nav *:hover {
  text-decoration: underline var(--hover) 3px;
}

nav *:active {
  text-decoration: underline var(--hover) 3px;
}

@media (hover: none) {
  nav *:active {
    text-decoration: underline var(--hover) 3px
  }
}

:root {
  --hover: #FFFFFF;
}
